.cursor {
  font-family: "Bangers", cursive;
  text-decoration: none;
  color: #6798c0;
}
.navbar {
  background-color: #6798c0 !important;
}
.logo {
  width: 100px;
  height: 100px;
}
.carButton {
  color: aliceblue !important;
}

.texto {
  font-size: 15px !important;
}
.icon-1 {
  color: aliceblue !important;
}
.search {
  background-color: aliceblue !important;
}
.cursor {
  cursor: pointer;
}
