.titulo {
  font-size: 6rem;
  color: #0000ff;
  text-align: center;
}

.imagem {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.text {
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.imagem1 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/1.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem2 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/2.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem3 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/3.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem4 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/4.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem5 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/5.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem6 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/6.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem7 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/7.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem8 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/8.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem9 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/9.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem10 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/10.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}

.efeito {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
  border: 1px solid#6798C0;
}
.text-about-us {
  color: white;
}
.tamanho-form {
  height: 100%;
  width: 100%;
}
.text-decoration {
  text-decoration: none;
}
.container1 {
  height: 100vh;
}
