.titulo {
  font-size: 6rem;
  color: #0000ff;
  text-align: center;
}

.imagem {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.text {
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.imagem1 {
  display: flex;
  justify-content: center;
  background-image: url("https://institucional-and-info-production.s3.us-east-2.amazonaws.com/images/bdfdb656-1973-4a1c-a526-f997c1c0131b/tudo-sobre-a-eficiencia-do-painel-solar.jpg");
  background-repeat: no-repeat;
  width: 70vw;
  height: 70vh;
}
.imagem2 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/2.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem3 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/3.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem4 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/4.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem5 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/5.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem6 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/6.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem7 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/7.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem8 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/8.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem9 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/9.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.imagem10 {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/imgs/10.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}

.efeito {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
  border: 1px solid#6798C0;
}
.text-about-us {
  color: white;
}
.tamanho-form {
  height: 100%;
  width: 100%;
}
.text-decoration {
  text-decoration: none;
}
.container1 {
  height: 100vh;
}

.container {
  margin: 10px;
  position: relative;
  display: inline;
}

.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #6798c0 !important;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #fdc921 !important;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "ENERGIA VIVA";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 2.4em;
  color: rgba(0, 0, 0, 0.1);
}

.card.imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
}
*/

.card.contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card.contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-right: 35px;
}

.card.contentBox h1 {
  font-size: 22px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-right: 35px;
}

.card.contentBox.price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  background: #fdc921 !important;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover.contentBox.buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
