.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto }

.border {
height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
border: 1px solid white }

.card {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative }

.card0 {
  background: url('https://media-exp1.licdn.com/dms/image/C4D03AQE-nhBl-ahPEA/profile-displayphoto-shrink_800_800/0/1652322548376?e=1671667200&v=beta&t=OCmN76_42mS1bjFcHqk5XVI2oDHM4IZcZD1iT9F4lq0') center center no-repeat;
}

.card0:hover {
    background: url('https://media-exp1.licdn.com/dms/image/C4D03AQE-nhBl-ahPEA/profile-displayphoto-shrink_800_800/0/1652322548376?e=1671667200&v=beta&t=OCmN76_42mS1bjFcHqk5XVI2oDHM4IZcZD1iT9F4lq0') left center no-repeat
}

.card0 h2 {
      opacity: 1
}

.card1 {
  background: url('https://i.imgur.com/PR0uEjo.jpg') center center no-repeat
}

.card1:hover {
    background: url('https://i.imgur.com/PR0uEjo.jpg') left center no-repeat
}

.card1 h2 {
      opacity: 1 }

.card2 {
  background: url('https://i.imgur.com/wVz2EID.jpg') center center no-repeat
}

.card2:hover {
    background: url('https://i.imgur.com/wVz2EID.jpg') left center no-repeat
  }

.card2 h2 {
    opacity: 1 }

.card3 {
    background: url('https://i.imgur.com/vpmKToP.jpg') center center no-repeat
}
      
.card3:hover {
    background: url('https://i.imgur.com/vpmKToP.jpg') left center no-repeat
}
      
.card3 h2 {
opacity: 1 
}

.card4 {
    background: url('https://i.imgur.com/w7J2RlD.png') center center no-repeat
  }
  
  .card4:hover {
      background: url('https://i.imgur.com/w7J2RlD.png') left center no-repeat
  }
  
  .card4 h2 {
        opacity: 1 
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s }

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}